

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 10px;
  border: 1px solid black;
  padding: 15px;
  gap: 1%;

  background: var(--white);
}

.button-details {
  display: flex;
  text-decoration: none;
  /* height: 30px; */
}

.section-left {
  display: flex;
  flex-direction: column;
  flex:1;

  padding: 5px;
}

.title {
  display: flex;
  flex: 1;
  font-weight: 500;
}

.price {
  color: var(--dollar-green);
  font-weight: 500;
}

.description {
}